<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBEdHrwOCaBwX3YzJ4FN2rEWkMzydFa13g</string>
	<key>GCM_SENDER_ID</key>
	<string>1062638900831</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.Dallian.Kevin.WorkItOut</string>
	<key>PROJECT_ID</key>
	<string>workitout-a3bd4</string>
	<key>STORAGE_BUCKET</key>
	<string>workitout-a3bd4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1062638900831:ios:4aae2cc5524b434d67edea</string>
</dict>
</plist>